/* Подключение шрифта Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* Сброс и базовые стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    background: #eaeaeb;
    /* height: 100%;
    width: 100%; */
    font-family: 'Inter', sans-serif;
}
/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    /*перенос на index.css  */
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 26px;
    text-align: center;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #4a90e2;
}
small {
    font-size: 10px;
}
b,
strong {
    font-weight: bold;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.left {
    float: left;
}
.right {
    float: right;
}
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.clearfix:after,
div:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#content div div a {
    color: #804400;
    float: right;
    font-size: 12px;
    margin: 30px 15px 0 0;
    text-decoration: underline;
}

.button {
    background: rgb(247, 249, 250);
    background: -moz-linear-gradient(top, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
    background: -webkit-linear-gradient(
        top,
        rgba(247, 249, 250, 1) 0%,
        rgba(240, 240, 240, 1) 100%
    );
    background: -o-linear-gradient(top, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
    background: -ms-linear-gradient(top, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
    background: linear-gradient(to top, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f9fa', endColorstr='#f0f0f0',GradientType=0 );
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #cfd5d9;
    padding: 15px 0;
}
.button a {
    background: url(https://cssdeck.com/uploads/media/items/8/8bcLQqF.png) 0 -112px no-repeat;
    color: #7e7e7e;
    font-size: 17px;
    padding: 2px 0 2px 40px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.button a:hover {
    background-position: 0 -135px;
    color: #00aeef;
}

#remember-container {
    position: relative;
    margin: 10px 20px;
}

.checkbox {
    position: relative;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    background: rgba(3, 3, 3, 0.2);
    display: inline-block;
    width: 16px;
    height: 15px;
}

.checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checkbox:checked {
    background: rgba(3, 3, 3, 0.4);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
        inset 15px 10px -12px rgba(255, 255, 255, 0.5);
    color: #fff;
}

.checkbox:checked:after {
    content: '\2714';
    font-size: 10px;
    position: absolute;
    top: 0px;
    left: 4px;
    color: #fff;
}

#remember {
    position: absolute;
    font-size: 13px;
    font-family: Helvetica, Arial, sans-serif;
    color: rgba(28, 12, 252, 0.5);
    top: 7px;
    left: 20px;
}
